body { 
  margin 0;
  overflow: hidden;
  background: black;
}

#cube {
  position: absolute;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  width: 100px;
  height: 100px;
  background: lime;
  border: 2px solid black;
}

/* Position each face */
.front { transform: translateZ(50px);}
.back { transform: rotateY(180deg) translateZ(50px);}
.left { transform: rotateY(-90deg) translateZ(50px);}
.right { transform: rotateY(90deg) translateZ(50px);}
.top { transform: rotateX(90deg) translateZ(50px);}
.bottom { transform: rotateX(-90deg) translateZ(50px);}
